## Exercise 1: [Pocketful of Sunshine](https://www.youtube.com/watch?v=gte3BoXKwP0)

Answer the following questions by creating a pattern
that satisfies the test cases listed below. To form the test case vector, 
combine the listed cases together and use the appropriate `re` function
that **displays** the pattern match inline.

- **(a)** Any letter in your first name in lower case. 
    - **Matches:** If your first name is `james`, then match any word with:
      `j`, `a`, `m`, `e`, or `s`. 
    - **Test cases:** `"james"`, `"pete"`, `"lee"`, `"ajay"`, `"ann"`, `"hoodie"`,
      and `"uru"`.

In [3]:
names = ["james","pete","lee","ajay","ann","hoodie"]

In [5]:
import re
[re.search(r'[nirjal]', name) for name in names]

[<re.Match object; span=(0, 1), match='j'>,
 None,
 <re.Match object; span=(0, 1), match='l'>,
 <re.Match object; span=(0, 1), match='a'>,
 <re.Match object; span=(0, 1), match='a'>,
 <re.Match object; span=(4, 5), match='i'>]

### b

_Only_ Uppercase letters.
- **Matches:** "HELLOWORLD" but not "Hello World!", "HELLO WORLD", "hello world", or "helloworld".
  - _Hint:_ Anchors and quantifiers are your friend.
- **Test cases:** `"today is the DAY!"`, `"GOILLINI"`, `"Orange and Blue"`, `"CAPS LOCK"`, `"STAT"`, `"R2D2"`, `"python"`.

In [6]:
uppercase = ["today is the DAY!","GOILLINI","Orange and Blue","CAPS LOCK","STAT","R2D2","python"]

In [7]:
[re.search(r'^[A-Z]+$', word) for word in uppercase]

[None,
 <re.Match object; span=(0, 8), match='GOILLINI'>,
 None,
 None,
 <re.Match object; span=(0, 4), match='STAT'>,
 None,
 None]

### c

Alphanumeric password between 5 and 7 characters long

- **Matches:** 5 - 7 characters that contains only a-z, A-Z, or 0-9.
- **Test Cases:** `"seeing4Miles"`, `"h@llowed1"`, `"pie2Go"`, `"sunsun"`, `"laugh2Jokes"`

In [8]:
password = ["seeing4Miles","h@llowed1","pie2Go","sunsun","laugh2Jokes"]

In [ ]:
re.search(r'')

### d

Any numbers between 1 and 9999

- **Matches:** 1, 2, ..., 42, ..., 180, ..., 999. Does _not_ match: 001, 05 ... 

- **Test Cases:** `"001"`, `"1"`, `"15"`, `"891"`, `"05"`, `"0"`, `"999"`, `"0599"`, `"5566"`

In [ ]:
numbers = ["001","1","15","891","05","0","999","0599","5566"]

### e

Sentences or questions that being with a capital letter and end with proper punctuation such as `!`, `?`, and `.`

- **Matches:** "How are you today?", "Goodbye Pete." Does _not_ match "good morning." or "Good Morning"
- **Test Cases:** `"What's your favorite color?"`, `"I am 10 years old!"`, `"re is a package."`, `"Go green to save the planet."`

In [ ]:
sentences = ["What's your favorite color?","I am 10 years wold!","re is a package.","Go green to save the planet."]

## Exercise 2: Root Canal

Answer the following questions by creating a pattern
that satisfies the test cases listed while **extracting** the requested information from the string. To form the test case vector, combine the listed cases together and use the appropriate `re` function.

### a 

Extract hashtag references from embedded text.

- **Matches:** `#text` and extracts the value `#text`
- **Test Cases:** `"no tag"`, `"#python #stats"`, `"hi #imsiinterns"`, `"my #regex is #improving"`

In [11]:
text=["no tag","#python #stats","hi #imsiinterns","my #regex is #improving"]
[re.findall(r'\#[a-z]*', reference) for reference in text]

[[], ['#python', '#stats'], ['#imsiinterns'], ['#regex', '#improving']]

### b

Match and Extract the Dimensions of a Monitor

- **Matches:** Three to four numbers followed by an `x` and then 3 to 4 more numbers.

- **Test Cases:** `"640x480"`, `"800x600"`, `"960x720"`, `"1024x768"`, `"1920x1200"`, `"2560x1600"`

In [15]:
dimensions = ["640x480","800x600","960x720","1024x768","1920x1200","2560x1600"]
[re.findall(r'^[1-9]\d{2,3}x[1-9]\d{2,3}$', number) for number in dimensions]

[['640x480'],
 ['800x600'],
 ['960x720'],
 ['1024x768'],
 ['1920x1200'],
 ['2560x1600']]

### c

Isolate file IDs from file extensions

- **Matches:** `file_xxxxx.pdf`, extracts `file_xxxxx`, and discards file extensions (e.g. `.pdf`, `.png`)
  - _Hint:_ Extract and then replacement to retrieve only `file_xxxx`
- **Test Cases**: `"file_transcript.pdf"`, `"file_imsi_sol.ipynb"`, `"file_grad_shot.png"`, `"991.docx"`, `"grades.xls"`
  - **Note** `991.docx` and `grade.xls` are **not** valid and should be _excluded_ during the extract portion.

In [17]:
file_names = ["file_transcript.pdf","file_imsi_sol.ipynb","file_grad_shot.png","991.docx","grade.xlsj"]
[re.findall(r'file\_[a-zAA-Z\_]*\.[a-z]*$', word) for word in file_names]

[['file_transcript.pdf'],
 ['file_imsi_sol.ipynb'],
 ['file_grad_shot.png'],
 [],
 []]

## Exercise 3: File Name Meta Data

Oh no! The same group of scientists who were working on collecting data related to 
vapor pressure deficiency -- a metric that combines temperature and relative humidity data
-- across **thousands** of plot locations in Illinois to address the invasive
understory plant [Amur honeysuckle (Lonicera maackii)](https://en.wikipedia.org/wiki/Lonicera_maackii)
had an even larger mishap with how their sensors tracked metadata about the 
locations.

Unfortunately, the research assistants helping the scientists made an
even more egregious error with how certain sensors labelled the data. Seeing
as you did such a great job last time, your contact within the lab sent over the 
following file names:

- P1-A14-S10_20180122.csv
- P342-A23-S333_20180522.csv
- P3-A1-S6_20180221.csv
- P15-A1-S14.20181029.csv
- P1441-A3-S2.20161001.csv
- P91-A4-S1.20181103.csv
- P2-A52-S50.20190115.csv
- P2-A2-S12.20190116.csv
- P2-A2-S25.20190117.csv

Help the scientist out by writing _Python_ code that extracts the metadata from the
file name and _stores_ it into a pandas `Data Frame`. **The _Python_ code should primarily
extract the metadata using regular expressions.** The final `Data Frame` should
have the following variables: 

- `plot`
- `area`
- `sensor`
- `year`
- `month`
- `day`

The file name is _thankfully_  organized such that:

- `P`: denotes the plot;
- `A`: denotes the area on the plot a sensor was placed;
- `S`: denotes the sensor; and
- `YYYYMMDD` denotes the Year Month and Day format of the sensor.

**Example Output:**

```
  plot area sensor year month day
    P1  A14    S10 2018     1  22
  P342  A23   S333 2018     5  22
    P3   A1     S6 2018     2  21
   P15   A1    S14 2018    10  29
 P1441   A3     S2 2016    10   1
   P91   A4     S1 2018    11   3
    P2  A52    S50 2019     1  15
    P2   A2    S12 2019     1  16
    P2   A2    S25 2019     1  17
```

In [24]:
import pandas as pd
import re

# Load file names
x = [
  "P1-A14-S10_20180122.csv",
  "P342-A23-S333_20180522.csv",
  "P3-A1-S6_20180221.csv",
  "P15-A1-S14.20181029.csv",
  "P1441-A3-S2.20161001.csv",
  "P91-A4-S1.20181103.csv",
  "P2-A52-S50.20190115.csv",
  "P2-A2-S12.20190116.csv",
  "P2-A2-S25.20190117.csv"
]

# Code here
df = pd.DataFrame({x})

df.columns = ["plot", "area", "sector", "year", "month", "day"]

display(df)

TypeError: unhashable type: 'list'

In [25]:
import pandas as pd
import re
import numpy as np

# Load file names
x = [
  "P1-A14-S10_20180122.csv",
  "P342-A23-S333_20180522.csv",
  "P3-A1-S6_20180221.csv",
  "P15-A1-S14.20181029.csv",
  "P1441-A3-S2.20161001.csv",
  "P91-A4-S1.20181103.csv",
  "P2-A52-S50.20190115.csv",
  "P2-A2-S12.20190116.csv",
  "P2-A2-S25.20190117.csv"
]

# Code here
df = pd.DataFrame(np.zeros((9,6)),
                  columns = ["plot", "area", "sensor", "year", "month", "day"])

i = 0
for word in x:
    df.loc[i,"plot"] = re.findall(r'^P[0-9]*', word)[0]
    df.loc[i,"area"] = re.findall(r'A[0-9]*', word)[0]
    df.loc[i,"sensor"] = re.findall(r'S[0-9]*', word)[0]
    date = re.findall(r'[\.\_][0-9]*', word)[0][1:]
    df.loc[i,"year"] = date[0:4]
    df.loc[i,"month"] = date[4:6]
    df.loc[i,"day"] = date[6:8]
    i += 1

display(df)

    plot area sensor  year month day
0     P1  A14    S10  2018    01  22
1   P342  A23   S333  2018    05  22
2     P3   A1     S6  2018    02  21
3    P15   A1    S14  2018    10  29
4  P1441   A3     S2  2016    10  01
5    P91   A4     S1  2018    11  03
6     P2  A52    S50  2019    01  15
7     P2   A2    S12  2019    01  16
8     P2   A2    S25  2019    01  17

# Exercise 4: Living the Pandas Loca!

### a

Given a Pandas DataFrame and tweet data, please extract the username mention from the tweet data, e.g. `@username`.

In [4]:
import pandas as pd 

df = pd.DataFrame({
  'tweets': ['What drives me nuts about the @github API docs ',
            'Apple will allow Linux VMs to run Intel apps with Rosetta in macOS Ventura by @AndrewWrites',
            'Congrats to our top author of the week: @cassidoo! Thanks for sharing your insights with the community ðŸŒŸ',
            '#todayisagoodday you know?']
})

print("DataFrame:")
display(df)

# code here

DataFrame:

                                              tweets
0    What drives me nuts about the @github API docs
1  Apple will allow Linux VMs to run Intel apps w...
2  Congrats to our top author of the week: @cassi...

### b 

Uh-oh, the survey data merged together everyone's full name! Please split the full name into three columns: `first`, `middle`, and `last`.

In [6]:
import pandas as pd
df = pd.DataFrame({
    'fullname': ['Judy Zhang', 'James Joseph Balamuta', 'Ella Hiesmayr',
                 'Nirjal Shrestha', 'Elijah Gunther', 'Shannon Weed',
                 'Steven Andrew Culpepper', 'Jeffery A Douglas'],
    'age': [21, 18, 19, 18, 22, 21, 48, 51]
})
print("DataFrame:")
display(df)

# code here

DataFrame:

                  fullname  age
0               Judy Zhang   21
1    James Joseph Balamuta   18
2            Ella Hiesmayr   19
3          Nirjal Shrestha   18
4           Elijah Gunther   22
5             Shannon Weed   21
6  Steven Andrew Culpepper   48
7        Jeffery A Douglas   51

### c 

Another data scientist was working on a script to improve automatic updates of enrollment information at various schools. The data scientist accidently put into production a script that prefixed each variable with `TEST_` and, then, the variable name. Moreover, the each column was named using uppercase, which goes against the policy. Please remove the `TEST_` prefix and convert the column names inside of the Pandas data frame to lowercase.

In [10]:
import pandas as pd
df = pd.DataFrame({
    'TEST_SCHOOL': ['UIUC', 'UChicago', 'Duke', 'Northwestern', 'Berkeley'],
    'TEST_ENROLLED': [1000, 2000, 3000, 4000, 5000],
    'TEST_DATE': ['11/15/2021','02/20/2019','05/19/2020','03/12/2022','12/01/2018'],
})
print("DataFrame:")
display(df)

DataFrame:

         SCHOOL  ENROLLED        DATE
0          UIUC      1000  11/15/2021
1      UChicago      2000  02/20/2019
2          Duke      3000  05/19/2020
3  Northwestern      4000  03/12/2022
4      Berkeley      5000  12/01/2018